.container {
    width: 100%;
}

.nav-bar {
    height: 150px;
    width: 1000px;
    margin: 0 auto;    
    background-color: #fce98d;    
}

.nav-bar img {
    text-align: center;
    height: 150px;
}

.nav-bar ul {
    float: right;
    text-align: center;
    padding: 60px 0px;
}

.nav-bar ul li {
    display: inline;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    padding: 0px 20px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.login {
    width: 1000px;
    margin: 0 auto;
}

.login p {
    text-align: center;
    padding: 0px 0px 0px 0px;
    text-decoration: underline;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 50px;
}

.login form {
    padding: 100px 0px;
}

.login input {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding: 5px 5px;
}

.login input:last-child {
    border: 0 transparent;
    background-color: #424242;
    font-size: 25px;
    transition: 0.5s; 
    color: white;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    height: 40px;
}

.login input:last-child:hover {
    background-color: #219121;
    color: black;
    border-radius: 50px;
    cursor: pointer;
    width: 120px;
    height: 60px;
    font-size: 30px;
}

.button-signup input[type=submit]:hover {
    background-color: #f74040;
    color: black;

}

.footer-bar {
    height: 50px;
    margin: 0 auto;
    width: 100%;
    display: block;
    position: absolute;
    margin-bottom: 10px;
    bottom: 1;
}

.footer-bar p {
    text-align: center; 
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

textarea {
    margin: 0 auto;
    display: block;
}
